body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navstyle {
  /* height: 10vh; */
  background-color: #263469;
}
.nav-item {
  color: white;
}

.about {
  height: 95vh;
}
.headshot-background {
  background-color: #eabde1;
  height: 95vh;
}

.proj-card {
  margin: 1rem;
}
.contact {
  padding: 1rem;
}
